# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

spartacustrainingaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
spartacustrainingaddon.application-context=spartacustrainingaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.spartacustrainingaddon=classpath:/spartacustrainingaddon/web/spring/spartacustrainingaddon-web-spring.xml



spartacustrainingaddon.javascript.paths.responsive=/responsive/common/js/spartacustrainingaddon.js
spartacustrainingaddon.css.paths.responsive=/responsive/common/css/spartacustrainingaddon.css
